{% extends 'h_f1.html' %}
{% load static %}
{% block content %}

<div class="container"> 
  <div class="row py-3">
    <div class="col-md-4 order-md-2 mb-4">
    <form action="../order/" method="POST"> 
      {% csrf_token %}
      <h4 class="d-flex justify-content-between align-items-center mb-3">   
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ cart_data|length }}</span>
      </h4>   

      <ul class="list-group mb-3">
        {% for item in cart_data %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <input type="hidden" name="p_id[]" value="{{ item.p_id }}">
            <input type="hidden" name="quantity[]" value="{{ item.quantity }}">
            <input type="hidden" name="subtotal[]" value="{{ item.subtotal }}">

            <span>{{ item.name }} × {{ item.quantity }}</span>
            <span hidden> × {{ item.p_id }}</span>
          </div>
          <span>{{ item.subtotal}}</span>
        </li> 
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <input type="hidden" name="total" value="{{ total }}">
          <strong>{{ total }}</strong>
        </li>     
      </ul>   
    </div>     

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>    
      {% for user in user %}
        <div class="mb-3">
          <label for="firstName">Name</label>
          <input type="text" class="form-control" name="name" value="{{user.u_name}}" required>
        </div> 
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" name="add" value="{{user.u_add}}" required>
        </div> 
        <div class="mb-3">
          <label for="location">Your Location Link</label>
          <input type="text" class="form-control" name="location" required>
        </div> 
      {% endfor %}

      <hr class="mb-4"> 
      <h4 class="mb-3">Payment</h4> 
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
          <label class="custom-control-label" for="credit">Cash on Delivery</label>
        </div>   
      </div>  
      <hr class="mb-4">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Place Order">
    </form>
    </div>
  </div>   
</div>

{% endblock %}
