{% extends 'h_f1.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


<div class="container mt-5">
    <div class="row py-5">
        {% for product in item %}
        <div class="col-md-6 mb-4">
            <img src="{% static '' %}{{product.image}}" alt="Product" class="img-fluid rounded mb-3 product-image"  id="mainImage">
            <div class="d-flex justify-content-between">         
            </div>
        </div> 
        <div class="col-md-6">
            <h2 class="mb-3">{{product.p_name}}</h2>    
            <div class="mb-3">
                <span class="h4 me-2">{{product.p_price}}</span>
                <span class="text-muted"><s>$399.99</s></span>
            </div>
            <div class="mb-3">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                <span class="ms-2">4.5 (120 reviews)</span>
            </div>
            <h5>Key Features:</h5>
                <ul>
                    <li>{{product.p_det|safe}}</li>    
                </ul> 
            <div class="mb-4">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="number" class="form-control" id="quantity" value="1" min="1" style="width: 80px;">
            </div> 
                 <a class="btn btn-primary btn-lg mb-3 me-2" href='/add_to_cart?id={{product.id}}'  {% if product.id in added %} style="pointer-events: none;" {% endif %}>
                                    <i class="bi bi-cart-plus"></i> {% if product.id in added %}Added{% else %}Add to Cart{% endif %}
                                     </a> 
            <div class="mt-4">        
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
 




{% endblock %}  